/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* Sección de entrada de tareas */
.task-input {
    display: flex;
    margin-bottom: 20px;
}

.task-input input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    transition: border-color 0.3s;
}

.task-input input:focus {
    border-color: #3498db;
    outline: none;
}

.task-input button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.task-input button:hover {
    background-color: #2980b9;
}

/* Lista de Tareas */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.task-item:hover {
    background-color: #f0f8ff;
}

.task-item span {
    font-size: 16px;
    color: #34495e;
    flex: 1;
    margin-right: 20px;
}

.task-item button {
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.task-item .edit {
    background-color: #f39c12;
    color: white;
    transition: background-color 0.3s;
}

.task-item .edit:hover {
    background-color: #e67e22;
}

.task-item .delete {
    background-color: #e74c3c;
    color: white;
    transition: background-color 0.3s;
}

.task-item .delete:hover {
    background-color: #c0392b;
}